html
    head
        title Bookstore: Logged in
    body
        h1 Bookstore: Logged in
        br
        br
        | Welcome #{name}, you have successfully logged in!
        | Click 
        a(href= "/list") here
        |  to order some books!